---
- name: Collect all enabled features
  become: yes
  find:
    paths: "{{ i2_features_enabled_dir }}/"
    patterns: '*.conf'
    file_type: any
  register: enabled_features
  when:
    - i2_remove_unmanaged_features

- name: Enable feature configuration
  become: yes
  icinga2_feature:
    name: "{{ feature_name }}"
    state: present
  vars:
   feature_name: >-
     {%- set library = item.value.pop('library', None) -%}
     {%- if library is not none -%}
     {{ library }}
     {%- elif item.value.keys()|length == 1 -%}
     {{ item.value.keys()[0] }}
     {%- else -%}
     {{ item.key }}
     {%- endif -%}
  with_dict: "{{ i2_features }}"
  register: managed_features
  notify:
    - restart icinga2

- name: Generate enabled feature configuration
  become: yes
  template:
    src: templates/feature-generic-template.conf.j2
    dest: "{{ i2_features_available_dir }}/{{ feature_name }}.conf"
    owner: "{{ i2_user }}"
    group: "{{ i2_group }}"
    mode: 0644
  vars:
   feature_name: >-
     {%- set library = item.value.pop('library', None) -%}
     {%- if library is not none -%}
     {{ library }}
     {%- elif item.value.keys()|length == 1 -%}
     {{ item.value.keys()[0] }}
     {%- else -%}
     {{ item.key }}
     {%- endif -%}
  with_dict: "{{ i2_features }}"
  register: managed_features
  notify:
    - restart icinga2

- name: Set fact enabled_files
  set_fact:
    enabled_files: "{{ enabled_files|default([]) + [ item.path ] }}"
  loop: "{{ enabled_features.files }}"
  when:
    - i2_remove_unmanaged_features

- name: Set Fact managed_features_files
  set_fact:
    managed_feature_files: "{{ managed_feature_files|default([]) + [item.dest] }}"
  with_items: "{{ managed_features.results }}"
  when:
    - i2_remove_unmanaged_features

- name: Remove unmanaged features
  file:
    path: "{{ item }}"
    state: absent
  with_items: "{{ enabled_files|default([]) }}"
  when:
    - item not in managed_feature_files and i2_remove_unmanaged_features
