// {{ ansible_managed }}
{% import 'object_attributes.j2' as attributes %}

object Host "{{ hostvars[item].i2_hostname }}" {
  {% if hostvars[item].i2_host_template is defined -%}
  import "{{ hostvars[item].i2_host_template }}"
  {% else -%}
  import "generic-host"
  {% endif -%}
  address = "{{ hostvars[item].ansible_default_ipv4.address }}"

  vars.os = "{{ hostvars[item].ansible_system }}"
  vars.os_family = "{{ hostvars[item].ansible_os_family }}"

  {% if hostvars[item].i2_host_attributes is defined -%}
    {% set host_attributes = hostvars[item].i2_host_attributes %}
    {{ attributes.attrs(host_attributes) -}}
  {% endif -%}
  {% if hostvars[item].i2_host_variables is defined -%}
    {% set host_variables = hostvars[item].i2_host_variables %}
    {{ attributes.attrs(host_variables, 'vars.') -}}
  {% endif -%}
}
