// {{ ansible_managed }}
{% import 'item_definitions.j2' as definitions %}
{% if hostvars[item].i2_templates is defined -%}
{% for item in hostvars[item].i2_templates -%}
  {{ definitions.template(item) }}
{% endfor %}
{% endif %}
