object Endpoint "{{ hostvars[item].i2_hostname }}" {
{#
  Masters don't connect to satellites or agents in a bottom-up set-up,
  only in a top-down scenario.
#}
{% if i2_connection_direction == 'top-down' %}
  host = "{{ hostvars[item].i2_api_host }}"
  port = "{{ i2_api_port }}"
{% endif %}
}

object Zone "{{ hostvars[item].i2_zonename }}" {
{% if hostvars[item].i2_parent_zone is defined and hostvars[item].i2_parent_zone != item %}
  parent = "{{ hostvars[item].i2_zone }}"
{% endif %}
  endpoints = [ "{{ hostvars[item].i2_hostname }}" ]
}
